nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
}

.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

nav ul{
    display: flex;
    align-items: center;
}
nav  li {
    list-style: none;
    padding: 10px;
}
nav a{
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
.text-prymari{
    color:  #FD6E0A;
}
.btn-praimary{
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    padding: 15px 35px;
    border: 0px;
    font-size: 20px;
    font-weight: 700;



}
.header{
    background-color: aliceblue;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.profile-pic{
    width: 500px;